[submodule "vendor/liboauthcpp"]
	path = vendor/liboauthcpp
	url = https://github.com/hatkirby/liboauthcpp
[submodule "vendor/curlcpp"]
	path = vendor/curlcpp
	url = https://github.com/JosephP91/curlcpp
[submodule "vendor/hkutil"]
	path = vendor/hkutil
	url = git@github.com:hatkirby/hkutil
